<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>DOSSEE TTI Render Farm Manager</title>
    <link href="css/jquery-ui-redmond.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <div id="main">
      <table class="tasks">
        <thead>
          <tr>
            <th>Client</th>
            <th>Status</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Hash</th>
            <th>&#160;</th>
          </tr>
        </thead>
        <tbody>
          <% for task in tasks %>
            <tr id="task<%=task.id %>" class="<%=task.status %>">
              <td><%=clients[task.client_id].email %></td>
              <td><%=task.status.to_s.capitalize %></td>
              <td><%=task.created.getlocal %></td>
              <td><%=task.modified.getlocal %></td>
              <td><%=task.hash %></td>
              <td>
                <button class="open">Open</button>
                <button class="accept<% if task.status.to_s != 'examined' %> invisible<% end %>">Accept</button>
                <button class="reject<% unless ['uploaded', 'examined'].include? task.status.to_s %> invisible<% end %>">Reject</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
