<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>DOSSEE TTI Render Farm Manager</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <div id="main">
      <table class="tasks">
        <tr>
          <th>User</th>
          <th>Status</th>
          <th>Created</th>
          <th>Modified</th>
          <th>Hash</th>
          <th>&#160;</th>
        </tr>
        <% for task in tasks %>
          <tr id="task<%=task.id %>" class="<%=task.status %>">
            <td><%=task.client_id %></td>
            <td><%=task.status.to_s.capitalize %></td>
            <td><%=task.created %></td>
            <td><%=task.modified %></td>
            <td><%=task.hash %></td>
            <td>
              <button class="open">Open</button>
              <button class="accept">Accept</button>
              <button class="reject">Reject</button>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </body>
</html>
